<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="{% static "school/pico.min.css" %}">
    <link rel="stylesheet" href="{% static "school/main.css" %}">
    <title>{% block school_title %}{% endblock  %}</title>
    <meta name='description' content="{% block school_desc %}{% endblock  %}">
  </head>
  <body>
    <main class="container">
      {% block navigation %}
      <a class="navbar-item" href="{% url 'school:home' %}">
        <button class="button is-info is-dark">Home</button></a>
      <a class="navbar-item" href="{% url 'school:courses' %}">
        <button class="button is-info is-dark">Courses</button></a>
      <a class="navbar-item" href="{% url 'school:students' %}">
        <button class="button is-info is-dark">Students</button></a>
      {% endblock  %}
      {% block school_base %}{% endblock  %}
    </main>
  </body>
</html>