{% extends "school/_base.html" %}
{% block school_title %}Stundents{% endblock %}
{% block school_desc %}Students of school app for it_school in Prague{% endblock  %}
{% include 'school/includes/nav.html' %}
{% block nav %}
  <a href="{% url 'school:index' %}">
    <button>Home</button></a>
  <a href="{% url 'school:courses' %}">
    <button>Courses</button></a>
  <a href="{% url 'school:students' %}">
    <button>Students</button></a>
{% endblock  %}


{% block school_base %}
    <h1>Students</h1>
{% endblock  %}

{% block school_students %}{% endblock %}