<section class="section">
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">

            <a class="navbar-item" href="{% url 'school:index' %}">
              <button class="button is-info is-dark">Home</button></a>
            <a class="navbar-item" href="{% url 'school:courses' %}">
              <button class="button is-info is-dark">Courses</button></a>
            <a class="navbar-item" href="{% url 'school:students' %}">
              <button class="button is-info is-dark">Students</button></a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </nav>
    </div>
  </section>